.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-left: 50px;
  }
  
  .main-content {
    margin-top: 60px;  /* Espaço suficiente para o header */
    padding: 20px;
    background-color: #f9f9f9;
  }
  

  
  .content-area {
    flex: 1;
    padding: 20px;
  }
