/* Container principal do dashboard */
.dashboard-container {
  font-family: 'Arial', sans-serif;
  margin: 20px;
  background-color: #f9f9f9;
}

/* Cabeçalho do dashboard */
.dashboard-header {
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 8px 8px 0 0;
}

/* Conteúdo principal do dashboard */
.dashboard-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

/* Seção do gráfico */
.chart-section {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

/* Estilo do gráfico de pizza */
.pie-chart-container {
  text-align: center;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 20px;
}

.pie-chart {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

/* Estilo do resumo */
.tenant-summary {
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
}

.summary {
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 20px;
}

.summary h3 {
  font-size: 1.5rem;
  color: #333;
}

.summary p {
  font-size: 1rem;
  color: #555;
}

/* Lista de inquilinos inadimplentes */
.tenant-list {
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.tenant-list h3 {
  font-size: 1.5rem;
  color: #333;
}

/* Estilo do scroll na lista de inadimplentes */
.tenant-list-scroll {
  max-height: 300px; /* Definindo uma altura máxima para a lista */
  overflow-y: auto; /* Adiciona rolagem vertical quando o conteúdo exceder a altura máxima */
  margin-top: 20px;
}

.tenant-list ul {
  list-style-type: none;
  padding: 0;
}

.tenant-list li {
  background-color: #f2f2f2;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tenant-list li p {
  margin: 5px 0;
}

.tenant-list li strong {
  color: #2c3e50;
}


.tenant-table {
  width: 100%;
  border-collapse: collapse;
}

.tenant-table th, .tenant-table td {
  padding: 8px;
  text-align: left;
}
